<!DOCTYPE HTML>
<html>

<header>
    {{ inspiration }}
</header>

<p>
    If you are experiencing any issues with this application, first see the
    <a href="static/README.html">README</a>. If the problem persists feel
    free to <a href="mailto:djonson@gatech.edu">email me</a>.
</p>

<br>
<br>

<body>

    <p>
        {{ remaining }}
    </p>

    <p>
        <textarea id="commment" name="comment" rows="{{ rows }}" cols="{{ columns }}">{{ comment }}</textarea>
        <form action="{{ url_for('index') }}" method="post">
          <input type="text" name="cp_score"></input>
          <input type="submit" value="Enter Score"></input>
        </form>
    </p>
</body>


</html>
