<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title> Landing Page </title>
    <link rel="stylesheet", href="landing_styles.css">
  </head>
  <body>
    <h1 class = header1> Discussion Forum Main Page </h1>
    <ul class = ul>
        <li><button class = button> CS 1301 </button></li>
        <li><button class = button> ENGL 1101 </button></li>
        <li><button class = button> PSYC 2210 </button></li>
    </ul>

    <!--Static routing to the discussion topics page-->
    <form action="http://127.0.0.1:5000/discussion_topics">
      <input type="submit" value="CS 1301"/>
    </form>
    <form action="http://127.0.0.1:5000/discussion_topics">
      <input type="submit" value="ENGL 1101"/>
    </form>
    <form action="http://127.0.0.1:5000/discussion_topics">
      <input type="submit" value="PSYC 2210"/>
    </form>

  </body>
</html>
