<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      .btn {
        border: none;
        background-color: inherit;
        color: blue;
        padding: 14px 28px;
        font-size: 16px;
        cursor: pointer;
        display: inline-block;
      }

      .btn:hover {background: #eee;}

    </style>
  </head>
  <body>

    <h2>Discussion Topics</h2>

    <ul>
      <li><button class="btn intro">Introductions</button></li>
      <li><button class="btn hw1">Homework 1</button></li>
      <li><button class="btn midterm">Midterm</button></li>
    </ul>

    <form action="http://127.0.0.1:5000/">
      <input type="submit" value="Visit Landing Page"/>
    </form>

  </body>
</html>
