.title-container {
    margin: auto;
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
}

.barchart-container {
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;
}

.linechart-container {
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;
}

.piechart-container {
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
}