<!doctype html>
<html>
<style>
table {
  border-collapse: collapse;
  width: 100%;
  text-align: left;
  vertical-align: bottom;
}

table, td, th {
  border: 1px solid black;
}
</style>
   <body>
     {% for topic in topics %}
       <table border = 1>
          {% for key, value in topic.items() %}
             <tr>
                <th> {{ key }} </th>
                <td> {{ value }} </td>
             </tr>
          {% endfor %}
       </table>
       <br>
     {% endfor %}
   </body>
</html>
